<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="../../static/register.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>


<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div class="container">
    <div class="signup"><a href="">Регистрация</a></div>
    <div class="login"><a href="">Уже есть аккаунт?</a></div>
    <div class="login-form">
        <input type="text" placeholder="Ваш ник" class="input" required><br>
        <input type="password" placeholder="Пароль" class="input" required><br>
        <div class="button-container">
            <div class="button">
                <a href="#" class="btn effect04" data-sm-link-text="НАЖАТЬ" target="_blank">
                    <span>Войти</span>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>