<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<!--th:href="@{/register.css}"-->

<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" type="text/css"  th:href="@{/css/register.css}" >
</head>
<body>
   <div class="container">
       <div class="signup"><a th:href="@{/user/register}">Регистрация</a></div>
       <div class="login"><a th:href="@{/login}">Уже есть аккаунт?</a></div>
           <div class="signup-form">
               <form th:action="@{/user/create}" method="post" th:object="${user}">
               <input type="text" placeholder="Имя пользователя" class="input"  th:field="*{userName}"  required="required" ><br>

                   <span class="span-message" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>

                   <!--th:field="*{userName}"-->
               <input  type="text" placeholder="Ваша почта" class="input" th:field="*{email}" required="required"><br>
               <input type="password" id="password" placeholder="Укажите пароль" class="input" th:field="*{password}" required="required"><br>
               <span class="span-message" id='message'> </span>
               <input type="password" id="confirm_password" placeholder="Повторите свой пароль" class="input" th:field="*{confirmPassword}" onkeyup='check();' required="required"><br>
                   <button class="sub" type="submit">Отправить</button>
                   <!--               <div class="button-container">-->
<!--                   <div class="button">-->
<!--                       <a href="#" class="btn effect04" data-sm-link-text="НАЖАТЬ" >-->
<!--                           <span>Создать аккаунт</span>-->
<!--                       </a>-->
<!--                   </div>-->
<!--               </div>-->
               </form>
           </div>
   </div>
   <script>
       var check = function() {
           if (document.getElementById('password').value ===
               document.getElementById('confirm_password').value) {
               document.getElementById('message').style.color = 'green';
               document.getElementById('message').innerHTML = 'Совпадают';
           } else {
               document.getElementById('message').style.color = 'red';
               document.getElementById('message').innerHTML = 'Не совпадают';
           }
       }
   </script>
</body>
</html>