* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    /*background: #00d2ff;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  !* Chrome 10-25, Safari 5.1-6 *!*/
    background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto Thin',sans-serif;
}


@media only screen and (max-width: 992px){
    .container {
        max-width: 350px;
        margin: 50px auto;
    }
    .nav-btn{
        padding-top: 10px;
        align-items: center;
        max-width: 100%;
        height: 130px;
        background: linear-gradient(to left, #E2E2E2, #C9D6FF);
    }
    .signup,
    .login {
        height: 60px;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
        text-transform: uppercase;

    }
}

@media only screen and (max-width: 768px){
    .container {
        max-width: 300px;
        margin: 50px auto;
    }
    .nav-btn{
        padding-top: 10px;
        align-items: center;
        max-width: 100%;
        height: 130px;
        background: linear-gradient(to left, #E2E2E2, #C9D6FF);
    }
    .signup,
    .login {
        height: 60px;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
        text-transform: uppercase;

    }
}

.container{
    max-width: 450px;
    margin: 50px auto;
}

.nav-btn{
    align-items: center;
    max-width: 100%;
    height:60px;
    background: linear-gradient(to left, #E2E2E2, #C9D6FF);
}

.signup,
.login {
      width: 50%;
      height: 60px;
      float: left;
      text-align: center;
    line-height: 60px;
    cursor: pointer;
    text-transform: uppercase;

}

.signup {
    background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.login {
    background: linear-gradient(to left, #C9D6FF, #E2E2E2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




.signup a,.login a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    background: linear-gradient(to bottom, #928DAB,  #00d2ff 60%, #C9D6FF);
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.2s ease-out;

}

/* .link {*/
/*    position: relative;*/
/*}*/

/*.link:before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 1px;*/
/*    background: #33ee33;*/
/*    bottom: 8px;*/
/*    transition: all 0.2s ease-out;*/
/*}*/

.signup:hover,.login:hover {
    background: #fff;
    box-sizing: border-box;
}

/*.link:hover:before {*/
/*    transform: translateY(6px)*/

/*}*/


.sub {
    /*background: linear-gradient(rgba(9,115,121,1) 33%, rgba(0,212,255,1) 100%);*/
    border: 2px solid #34b3a0;
    color: #65ff00;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.span-message {
    padding: 4px;
    position: absolute;
    margin-left: 137px;
    bottom: 221px;
}

.login-message {
    padding: 4px;
    color: red;
}

.register-message{
    font-size: 12px;
    position: absolute;
    color: red;
    /* padding: 3px; */
    margin-left: 50px;
}

.sub:hover {
    background: linear-gradient(to right, #928DAB, #00d2ff);
    color: white;
}


.signup-form{
    background: #fff;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;
    height: 460px;
    text-align: center;
}
.login-form {
    background: #fff;
    box-sizing: border-box;
    padding:120px 40px ;
    clear: both;
    width: 100%;
    height: 460px;
    text-align: center;
}


.input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #33ee33;
    font-size: 14px;
    outline: none;
    transition: all 0.5s ease;
}

.input:focus{
    border: 2px solid #34b3a0;
}

