<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
    <link rel="stylesheet" href="../static/css/anotherTree.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="tree">
    <ul>
        <li>
            <div class="family">
                <div class="individual child male">
                    <div class="name">Grandfather</div>
                </div>
                <div class="parent">
                    <div class="individual female">
                        <div class="name">Grandmother</div>
                    </div>
                    <ul>
                        <li>
                                <div class="individual child female">
                                    <div class="name">Mother</div>
                                </div>
                                <div class="parent">
                                    <div class="individual male">
                                        <div class="name">Father</div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="individual child male">
                                                <div class="name">Me</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="individual child female">
                                                <div class="name">Sister</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
</html>