<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!--href="../../static/register.css"-->


<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/register.css}" >
<!--    <link rel="stylesheet" href="../static/css/register.css">-->
</head>

<body>
<div class="container">
    <div class="nav-btn">
        <div class="signup"><a th:href="@{/user/register}">Регистрация</a></div>
        <div class="login"><a th:href="@{/login}">Уже есть аккаунт?</a></div>
    </div>

    <div class="login-form">

        <span class="login-message" th:if="${param.error}">  неправильное имя или пароль </span>
        <form th:action="@{/login}" method="post" >
            <input type="text"  name="username" placeholder="Ваш ник" class="input"  required="required">

            <input type="password" name="password"placeholder="Пароль" class="input"  required="required">
            <button class="sub" type="submit">Отправить</button>
        </form>

    </div>
</div>

</body>
</html>