<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../static/css/tree.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.10/js/jquery.orgchart.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="chart-container" style="text-align: left;"></div>

<script>
    var header = document.querySelector('header');

    var requestURL = 'http://localhost:8080/getTree';
    var request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();
    request.onload = function() {
        var treeWithNode = request.response;
        console.log(request.response[0])
        // drawTree(treeWithNode);
    }

    (function($) {
        $(function() {
            var ds = {
                'name': 'Lao Lao',
                'title': 'general manager',
                'children': [
                    { 'name': 'Bo Miao', 'title': 'department manager' },
                    { 'name': 'Su Miao', 'title': 'department manager',
                        'children': [
                            { 'name': 'Tie Hua', 'title': 'senior engineer' },
                            { 'name': 'Hei Hei', 'title': 'senior engineer',
                                'children': [
                                    { 'name': 'Pang Pang', 'title': 'engineer' },
                                    { 'name': 'Xiang Xiang', 'title': 'UE engineer' }
                                ]
                            }
                        ]
                    },
                    { 'name': 'Hong Miao', 'title': 'department manager' },
                    { 'name': 'Chun Miao', 'title': 'department manager' }
                ]
            };

            var oc = $('#chart-container').orgchart({
                'data' : ds,
                'nodeContent': 'title',
                'direction': 'l2r',
                'pan':true
            });

        });
    })(jQuery);


</script>
</body>
</html>