<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <form th:action="@{/person/create}" method="post" th:object="${person}">
            <span>member:</span>
            <input type="text" th:field="*{member}"  required="required" >
            <br>
            <span>firstName:</span>
            <input type="text" th:field="*{firstName}" required="required">
            <br>
            <span>lastName:</span>
            <input  type="text" th:field="*{lastName}" required="required">
            <br>
            <span>birthDate:</span>
            <input type="date" placeholder="yyyy-MM-dd"  th:field="*{birthDate}"  required="required">
            <br>
            <span>gender:</span>
            <input type="text" th:field="*{gender}"  required="required">
            <br>
            <span>inn:</span>
            <input type="text" th:field="*{inn}" required="required">
            <br>
            <button type="submit">Отправить</button>
        </form>

        <div class="node">
            <ul>
                <li>
                    <a href="#">Parent</a>
                    <ul>
                        <li>
                            <a href="#">Child</a>
                            <ul>
                                <li>
                                    <a href="#">Grand Child</a>
                                </li><li>
                                <a href="#">Grand Child</a>
                                <ul>
                                    <li>
                                        <a href="#">Grand Child</a>
                                    </li><li>
                                    <a href="#">Grand Child</a>
                                </li>
                                </ul>
                            </li>
                            </ul>
                        </li><li>
                        <a href="#">Child</a>
                        <ul>
                            <li>
                                <a href="#">Grand Child</a>
                                <ul>
                                    <li>
                                        <a href="#">Grand Grand Child</a>
                                    </li>
                                </ul>
                            </li><li>
                            <a href="#">Grand Child</a>
                        </li>
                        </ul>
                    </li>
                    </ul>
                </li>
            </ul>
        </div>
</body>
</html>